body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: whitesmoke;
  font-family: 'Sacramento', cursive;
}

.anime {
  margin: 0;
  padding: 0;
  width: 800vw;
  height: 200vh;
  position: absolute;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    #ffd78d,
    #ffc27d,
    #f1815f,
    #e73c7e,
    #6fa3f1,
    #84cffa,
    #7ed8c2
  );
}

canvas {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#video {
  margin: 15px;
}

#app {
  position: absolute;
  font-size: 3.25rem;
  left: 45%;
  top: 48%;
}

.smile {
  opacity: 0;
}

.frown {
  opacity: 0;
}
