body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: whitesmoke;
  font-family: 'League Script', cursive;
  background: linear-gradient(
    -45deg,
    #ffddb7,
    #f1815f,
    #e73c7e,
    #5284cf,
    #23d5ab,
    #befcce
  );
  background-size: 800% 800%;
  -webkit-animation: gradientBG 15s ease infinite;
  animation: gradientBG 15s ease infinite;
}

canvas {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#video {
  margin: 15px;
}

#app {
  position: absolute;
  font-size: 3rem;
  left: 45%;
  top: 48%;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
